	body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-inherit: inherit;
  --font-jomhuria: Jomhuria;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-mini: 15px;
  --font-size-77xl: 96px;
  --font-size-17xl: 36px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray-100: #414141;
  --color-darkslategray-200: #333;
  --color-mediumvioletred: #cb0b7e;
  --color-black: #000;

  /* Paddings */
  --padding-2xl: 21px;

  /* border radiuses */
  --br-44xl: 63px;
  --br-6xl: 25px;
}
.desktop-1-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  width: 1440px;
  height: 72px;
}
.polkadot-logo-1-icon {
  position: absolute;
  top: 2px;
  left: 233px;
  border-radius: var(--br-44xl);
  width: 128px;
  height: 68px;
  object-fit: cover;
}
.about,
.development,
.ecosystem,
.features {
  position: absolute;
  top: 28px;
  left: 438px;
  font-size: var(--font-size-sm);
  text-align: left;
  display: inline-block;
  width: 81px;
  height: 29px;
}
.about,
.development,
.features {
  left: 584px;
}
.about,
.development {
  left: 731px;
  width: 103px;
}
.about {
  left: 877px;
  width: 51px;
}
.desktop-1-item {
  position: absolute;
  top: 34.65px;
  left: 514.65px;
  width: 12.71px;
  height: 7.06px;
}
.desktop-1-child1,
.desktop-1-inner,
.rectangle-div,
.vector-icon {
  position: absolute;
  top: 34.65px;
  left: 648.65px;
  width: 12.71px;
  height: 7.06px;
}
.desktop-1-child1,
.rectangle-div,
.vector-icon {
  left: 823.65px;
}
.desktop-1-child1,
.rectangle-div {
  left: 923.65px;
}
.rectangle-div {
  top: 20px;
  left: 1051px;
  border-radius: 15px;
  background-color: #d8055e;
  width: 138px;
  height: 35px;
}
.take-to-an {
  position: absolute;
  top: 28px;
  left: 1038px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  display: inline-block;
  width: 164px;
  height: 29px;
}
.desktop-1-child2 {
  position: absolute;
  top: 491px;
  left: 0;
  background-color: #1b0f3f;
  width: 1440px;
  height: 319px;
}
.this-is-blockchain {
  margin: 0;
}
.a-parachain-for,
.auctions-crowdloans,
.independent-token-economies,
.parachain-hubs,
.this-is-blockchain-container {
  position: absolute;
  top: 177px;
  left: 0;
  font-size: var(--font-size-77xl);
  line-height: 68%;
  font-family: var(--font-jomhuria);
  display: inline-block;
  width: 1440px;
}
.a-parachain-for,
.auctions-crowdloans,
.independent-token-economies,
.parachain-hubs {
  top: 900px;
  left: 472px;
  width: 496px;
  height: 65px;
}
.auctions-crowdloans,
.independent-token-economies,
.parachain-hubs {
  top: 2847px;
}
.independent-token-economies,
.parachain-hubs {
  top: 1436px;
  left: 78px;
  font-size: var(--font-size-17xl);
}
.parachain-hubs {
  top: 1705px;
}
.parachains-as-autonomous {
  top: 2025px;
  left: 369px;
  font-size: var(--font-size-29xl);
  width: 366px;
  height: 65px;
}
.parachains-as-autonomous,
.parachains-as-digital,
.system-parachains {
  position: absolute;
  line-height: 68%;
  font-family: var(--font-jomhuria);
  display: inline-block;
}
.parachains-as-digital {
  top: 2364px;
  left: 740px;
  font-size: var(--font-size-29xl);
  width: 366px;
  height: 65px;
}
.system-parachains {
  top: 1436px;
  left: 484px;
}
.bridge-parachains,
.smart-contract-parachains,
.system-parachains {
  font-size: var(--font-size-17xl);
  width: 496px;
  height: 65px;
}
.smart-contract-parachains {
  position: absolute;
  top: 1705px;
  left: 484px;
  line-height: 68%;
  font-family: var(--font-jomhuria);
  display: inline-block;
}
.bridge-parachains {
  top: 1436px;
  left: 895px;
}
.bridge-parachains,
.parachains-possibilities,
.parathreads {
  position: absolute;
  line-height: 68%;
  font-family: var(--font-jomhuria);
  display: inline-block;
}
.parathreads {
  top: 1705px;
  left: 895px;
  font-size: var(--font-size-17xl);
  width: 496px;
  height: 65px;
}
.parachains-possibilities {
  top: 566px;
  left: 0;
  font-size: var(--font-size-77xl);
  color: var(--color-white);
  width: 1440px;
}
.parachains-are-advanced {
  position: absolute;
  top: 348px;
  left: 246px;
  line-height: 150%;
  display: inline-block;
  width: 948px;
  height: 100px;
}
.parachains-can-be,
.parachains-connect-to,
.parachains-that-provide,
.parachains-with-their {
  position: absolute;
  top: 1071px;
  left: 460px;
  line-height: 150%;
  display: inline-block;
  width: 520px;
  height: 100px;
}
.parachains-connect-to,
.parachains-that-provide,
.parachains-with-their {
  top: 3018px;
}
.parachains-that-provide,
.parachains-with-their {
  top: 1468px;
  left: 192px;
  font-size: var(--font-size-sm);
  width: 268px;
}
.parachains-that-provide {
  top: 1737px;
}
.designed-for-the,
.parachains-can-act,
.platforms-for-building,
.with-their-own {
  position: absolute;
  top: 2133px;
  left: 381px;
  font-size: var(--font-size-mini);
  line-height: 150%;
  display: inline-block;
  width: 354px;
  height: 100px;
}
.designed-for-the,
.platforms-for-building,
.with-their-own {
  top: 2472px;
  left: 752px;
}
.designed-for-the,
.platforms-for-building {
  top: 1468px;
  left: 598px;
  font-size: var(--font-size-sm);
  width: 268px;
}
.platforms-for-building {
  top: 1737px;
}
.bridges-allow-polkadot {
  top: 1468px;
  left: 1009px;
  font-size: var(--font-size-sm);
  width: 268px;
}
.bridges-allow-polkadot,
.parachains-are-advanced1,
.pay-as-you-go-parachains-for {
  position: absolute;
  line-height: 150%;
  display: inline-block;
  height: 100px;
}
.pay-as-you-go-parachains-for {
  top: 1737px;
  left: 1009px;
  font-size: var(--font-size-sm);
  width: 268px;
}
.parachains-are-advanced1 {
  top: 670px;
  left: 246px;
  color: var(--color-white);
  width: 948px;
}
.capture-1-icon,
.capture-2-icon,
.capture-4-icon,
.capture-5-icon {
  position: absolute;
  top: 1321px;
  left: 200px;
  width: 85px;
  height: 82px;
  object-fit: cover;
}
.capture-2-icon,
.capture-4-icon,
.capture-5-icon {
  top: 1595px;
}
.capture-2-icon,
.capture-5-icon {
  top: 1321px;
  left: 611px;
}
.capture-5-icon {
  top: 1595px;
}
.capture-3-icon,
.capture-6-icon,
.capture-7-icon,
.capture-8-icon {
  position: absolute;
  top: 2025px;
  left: 772px;
  width: 285px;
  height: 274px;
  object-fit: cover;
}
.capture-3-icon,
.capture-6-icon,
.capture-8-icon {
  top: 2364px;
  left: 369px;
}
.capture-3-icon,
.capture-6-icon {
  top: 1321px;
  left: 1025px;
  width: 85px;
  height: 82px;
}
.capture-6-icon {
  top: 1595px;
}
.desktop-1-child3,
.desktop-1-child4 {
  position: absolute;
  top: 3224px;
  left: 643px;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 150px;
  height: 50px;
}
.desktop-1-child4 {
  top: 3601px;
  left: 1081px;
}
.learn-more,
.subcribe {
  position: absolute;
  top: 3238px;
  left: 658px;
  line-height: 150%;
  display: inline-block;
  width: 124px;
  height: 21px;
}
.subcribe {
  top: 3612px;
  left: 1096px;
  font-size: 19px;
}
.about1,
.development1,
.escosystem,
.featsture,
.newsletter {
  position: absolute;
  top: 3446px;
  left: 156px;
  display: inline-block;
  color: var(--color-mediumvioletred);
  text-align: left;
  width: 140px;
  height: 29px;
}
.about1,
.development1,
.featsture,
.newsletter {
  left: 400px;
  width: 137px;
}
.about1,
.development1,
.newsletter {
  left: 641px;
  width: 126px;
}
.about1,
.newsletter {
  left: 871px;
  width: 106px;
}
.newsletter {
  left: 1081px;
  width: 197px;
}
.community1 {
  color: inherit;
}
.community {
  margin-bottom: 0;
}
.jobs {
  color: var(--font-inherit);
}
.community-treasury-telemetry-b {
  margin: 0;
  padding-left: var(--padding-2xl);
}
.community-treasury-telemetry-container {
  position: absolute;
  left: 145px;
  line-height: 150%;
  text-align: left;
}
.community-treasury-telemetry-container,
.documentation-grants-bounties-container,
.technology-dot-token-container {
  top: 3481px;
  font-size: var(--font-inherit);
  text-decoration: underline;
  font-family: var(--font-inherit);
  color: var(--font-inherit);
}
.technology-dot-token-container {
  position: absolute;
  left: 388px;
  line-height: 150%;
  text-align: left;
}
.documentation-grants-bounties-container {
  left: 630px;
}
.about-polkadot-blog-container,
.documentation-grants-bounties-container,
.subscribe-to-the {
  position: absolute;
  line-height: 150%;
  text-align: left;
}
.about-polkadot-blog-container {
  top: 3481px;
  left: 860px;
  font-size: var(--font-inherit);
  text-decoration: underline;
  font-family: var(--font-inherit);
  color: var(--font-inherit);
}
.subscribe-to-the {
  top: 3487px;
  left: 1105px;
  color: var(--color-darkslategray-100);
  display: inline-block;
  width: 195px;
}
.polkadot-logo-2-icon {
  position: absolute;
  top: 3824px;
  left: 128px;
  border-radius: var(--br-44xl);
  width: 128px;
  height: 68px;
  object-fit: cover;
}
.line-div {
  position: absolute;
  top: 3789.75px;
  left: 161.75px;
  border-top: 0.5px solid #ccc;
  box-sizing: border-box;
  width: 1116.5px;
  height: 0.5px;
}
.disclaimer,
.div,
.legal-disclosures,
.privacy,
.web3-foundation {
  position: absolute;
  top: 3846px;
  left: 284px;
  line-height: 150%;
  color: var(--color-darkslategray-200);
  text-align: left;
}
.disclaimer,
.legal-disclosures,
.privacy,
.web3-foundation {
  left: 377px;
  text-decoration: underline;
}
.disclaimer,
.legal-disclosures,
.privacy {
  left: 542px;
}
.disclaimer,
.privacy {
  left: 701px;
}
.privacy {
  left: 806px;
}
.image-1-icon,
.image-2-icon,
.image-3-icon,
.image-4-icon {
  position: absolute;
  top: 3841px;
  left: 1053px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.image-2-icon,
.image-3-icon,
.image-4-icon {
  left: 1124px;
  width: 33px;
}
.image-3-icon,
.image-4-icon {
  left: 1196px;
}
.image-4-icon {
  left: 1266px;
  width: 34px;
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3929px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}